$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}
body {
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
}

.timeline {
  .timeline-date {
    border-bottom: solid 1px #ccc;
  }
}

