@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: white;
$bg: black;
$selected: #00b894;
h1 {
  color: $primary-color;
  background-color: $bg;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  * {
    box-sizing: border-box;
  }
}

.timeline {
  .timeline-date {
    border-bottom: solid 1px #ccc;
  }
}

